html,
body {
    background-color: #1b1b1b;
    height: 100%;
}

#App {
    text-align: center;
}

#submit-button {
    cursor: pointer;
    outline: 0;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 16px;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#submit-button:hover {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
}

#submit-button:disabled {
    color: rgb(197, 197, 197);
    background-color: #588ad4;
    border-color: #678bc2;
}

.title {
    color: azure;
    text-shadow: 0px 0px 8px #918787;
    padding-top: 2rem;
    font-size: 100pt;
}

.search-bar {
    padding-top: 2vh;
    width: 80%;
    margin: auto;
    flex-direction: row;
    align-items: center;
    min-width: 100px;
}

.flex-container {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
